# YvesBlue Backend Challenge
## Carbon Analytic Calculation
### Goal: Utilizing this Jupyter Notebook (and additional libraries/files/tools as needed) implement a function that can be utilized to calculate the (strawman) Adjusted CO2 Total emissions for a company. 
### Notes: The calculation is laid out in this [image](calculation.png?raw=true). The data is stored inside of the [included data file](data.json?raw=true). Your code structure can take whatever you believe to be best (individual function, class, module, etc.). Please implement the code as well as write tests for the calculation, showcasing how you would write tests for such requirements. Provide instructions with your submission for how to call your implemented function as well as how to run the tests.
## Author: @github_username (Full Name)
## Date: YYYY-MM-DD

In [2]:
## Import Libraries

import decimal
import json
import os
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json('data.json')

df.head()

,ISIN,Total Energy Use,Total CO2 Equivalents Emissions,Renewable Energy Purchased,Renewable Energy Produced,Carbon Credit Value,CO2 Analytic
0,US0000000000,7000000,94972.491980,10576.00479,96652.16115,8171.323352,NaN
1,US0000000001,80000000,306900.619200,31961.79405,38372.19210,57387.100000,NaN
2,US0000000002,153000000,171320.165100,62884.91047,10689.83474,84303.725900,NaN
3,US0000000003,226000000,2250.272892,12949.74785,27468.66907,45713.963860,NaN
4,US0000000004,299000000,132696.737600,42559.65263,69567.95366,17515.500000,NaN

In [4]:
df. columns = df. columns. str. replace(' ','_')

In [5]:
def calculateMin(df):
    mininner = (0.5 * df['Renewable_Energy_Purchased']/df['Total_Energy_Use'])
    #print(mininner)
    #print(np.minimum(mininner,0.8))
    #print(1 - np.minimum(mininner,0.8))
    return 1 - np.minimum(mininner,0.8)

In [6]:
## Specify Calculation Function
def carboncalc(df):
    co2adj = (df['Total_CO2_Equivalents_Emissions'] - df['Carbon_Credit_Value']) * calculateMin(df) - (0.05 * df['Renewable_Energy_Produced'])
    return co2adj

In [7]:
## Demonstrate Solution with Calculation Function
carboncalc(df)

0      81902.988458
1     247545.066472
2      86464.065041
3     -44835.879192
4     111694.642470
5     174827.678028
6      53170.897969
7      80180.679660
8      49487.047923
9     268186.239806
10    389716.357287
11    171647.987963
12    903772.104869
13     56404.975676
14     10100.783406
15    -74343.513168
16      1398.849868
17    261778.097205
18    608438.368404
19    673525.138898
dtype: float64

In [8]:
## Test Calculation Function
## Give it a json with mocked up values and compare results.test.json has some mocked up values.
dftest= pd.read_json("test.json")
dftest. columns = dftest. columns. str. replace(' ','_')
dftest.head()

,ISIN,Total_Energy_Use,Total_CO2_Equivalents_Emissions,Renewable_Energy_Purchased,Renewable_Energy_Produced,Carbon_Credit_Value
0,US00000000t1,10,10,2,3,5

In [11]:
carboncalc(dftest)== 4.35

0    True
dtype: bool